{% extends "base.html" %}

{% block title %}
<title>Forms | {{ profile.display_name }}</title>
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<h1>{{ profile.display_name }} | Form</h1>

{% if forms %}
    {% for form in forms %}
        <h2>{{ form.display_name }}</h2>

        <form method="POST" action="{% url 'form_submit' %}">
            {% csrf_token %}
            {{ contact_form }}
            
            <input type="hidden" name="form_id" value="{{ form.id }}">

            {% if form.checkbox_prompt %}
                <label>
                    {{ form.checkbox_prompt }}
                </label>
                <input type="checkbox" name="checkbox">
            {% endif %}

            {% if form.outro %}
                <p>{{ form.outro }}</p>
            {% endif %}

            <button type="submit">Submit</button>
        </form>
    {% endfor %}
{% endif %}

{% endblock %}