{% extends "base.html" %}

{% block title %}
<title>Forms | {{ profile.display_name }}</title>
{% endblock %}

{% block content %}
{% if messages %}
    {% for message in messages %}
        <p>{{ message }}</p>
    {% endfor %}
{% endif %}

<h1>{{ profile.display_name }} | Form</h1>

{% if form_pairs %}
    {% for form, contact_form in form_pairs %}
        <h2>{{ form.form_name }}</h2>

        <form method="POST" action="{% url 'form_submit' username=profile.user.username %}">
            {% csrf_token %}
            {{ contact_form }}
            
            <input type="hidden" name="form_id" value="{{ form.id }}">

           

            {% if form.outro %}
                <p>{{ form.outro }}</p>
            {% endif %}

            <button type="submit">Submit</button>
        </form>
    {% endfor %}
{% endif %}

{% endblock %}